<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="security.security.Mapper.MemberMapper">

    <select id="findById" resultType="MemberVo">
        select * from member
        where id = #{id}
    </select>

    <select id="getList" resultType="MemberVo">
        select * from member
    </select>

    <select id="getTotalCount" resultType="int">
        select count(*) from member
    </select>

    <select id="getPaginationList" resultType="MemberVo">
        select * from member offset #{offset} limit #{limit}
    </select>

    <select id="getListRegexp" resultType="MemberVo">
        <bind name="pattern" value="'(' + regex + ').*'" />
        select * from member where id ~ #{pattern}
    </select>


    <select id="findKeyAndValue" resultType="MemberVo">
        <bind name="value" value="'%' + searchValue + '%'" />
        select * from member where ${key} like #{value}
    </select>

</mapper>